nav {
  text-align: center;
  ul {
    display: flex;
    justify-content: space-between;
    
    li {
      display: flex;
      padding: 6px 8px;

      a {
        color: #067df7;
        text-decoration: none;
        font-size: 13px;
      }
    }
  }
  & > ul {
    padding: 4px 16px;
  }
}